body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#quiz-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

#question {
    font-size: 20px;
    margin-bottom: 20px;
}

.option {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 100%;
}

.option:hover {
    background-color: #0056b3;
}

#result {
    font-size: 18px;
    margin: 20px 0;
}

#next {
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 100%;
}

#next:hover {
    background-color: #218838;
}

